/* Códigos da cores
Tea green= #D4E4BC
Pewter blue = #96ACB7
Y in Mn blue = #36558F
Dark Slate blue = #40376E
Dark purple = #48233C
 */
body{
    background-color: #96ACB7;
    font-family: 'Arvo', serif;

}
#main{
    max-width: 90%;
    margin: auto;
    text-align: center;
}
#photo{
    display: inline-block;
}
.main-text{
    display: inline-block;
    max-width: 50%;
    vertical-align: top;
}
#lucas{
    background-color: #40376E;
    border-radius: 20%;
    padding: 5px;
}
#bottom{
    background-color: #36558F;
    margin-left: 20%;
    margin-right: 20%;
    padding:0 1%
}
#contact{
    display: inline-block;
    margin: 5% 20%;
}
h1{
    
    text-align: center;
    display: table;
    margin: 0px auto 0px auto;
    
}
.purple-title{
    background-color: #40376E;
    color: #96ACB7;
}

