body{
    background-color: #D4E4BC;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#foto{
    border:5px solid #48233C;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.corpo{
    background-color:  #36558F;
    color: #96ACB7;

}
h1{
    text-align: center;
}

